*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: blueviolet;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    padding: 24px;
}
#logo{
    width:42px ;
}
h3{
    color: aliceblue;
    padding-right: 49%;
}
 ul{
    list-style-type: none;
    display : flex;
    flex-direction : row;
    align-items : flex-end;
    gap: 24px;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
input{
    padding: 5px;
    border: none;
    width: 100%;
}
#search{
    display : flex;
    flex-direction : row;
    align-items : center;
    background-color: rgb(255, 255, 255);
    padding-left: 16px;
    padding-right: 16px;
    width: 30%;
    border-radius: 9px;
}
#search img{
    height:20px;
    width: 20px;
    opacity: 50%;
}